@import "../../../../public/assets/scss/variables";

.spinner {
  display: inline-block;

  border-radius: 50%;
  border: 3px solid currentColor;
  border-top-color: transparent;

  animation: spin 0.8s linear infinite;

  &--sm {
    width: 14px;
    height: 14px;
    border-width: 2px;
  }

  &--md {
    width: 20px;
    height: 20px;
  }

  &--lg {
    width: 28px;
    height: 28px;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
