@import '../../../../public/assets/scss/variables';

.spinner {
  width: 20px;
  height: 20px;
  border: 2px solid $color-gray-200;
  border-top-color: $color-primary;
  border-radius: $radius-full;
  animation: spin 0.6s linear infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

.spinner--small {
  width: 16px;
  height: 16px;
  border-width: 2px;
}

.spinner--large {
  width: 32px;
  height: 32px;
  border-width: 3px;
}
