@import "../../../public/assets/scss/variables";

.profile {
  padding: $space-8 0 $space-12;
}

.profile__container {
  @include container;

  display: flex;
  flex-direction: column;
  gap: $space-8;
}
