@import "../../../../public/assets/scss/variables";

.comment-item {
  display: flex;
  gap: $space-4;
  padding: $space-4 0;

  border-bottom: $border-width solid $border-color;

  &:last-child {
    border-bottom: none;
  }

  &--nested {
    padding-left: $space-6;
  }

  &--highlighted {
    background: $color-gray-50;
    border-radius: $radius-md;
    padding: $space-4;
  }
}

.comment-item__body {
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
  gap: $space-2;
}

.comment-item__header {
  display: flex;
  align-items: center;
  gap: $space-2;
}

.comment-item__author {
  padding: 0;
  background: none;
  border: none;

  font-size: $text-sm;
  font-weight: $weight-medium;
  color: $color-black;

  cursor: pointer;

  &:focus-visible {
    @include focus-ring;
  }
}

.comment-item__timestamp {
  font-size: $text-sm;
  color: $color-gray-600;
}

.comment-item__text {
  margin: 0;
  color: $color-gray-700;
  line-height: $leading-normal;
}

.comment-item__actions {
  display: flex;
  align-items: center;
  gap: $space-3;
  margin-top: $space-1;
}

.comment-item__like {
  display: inline-flex;
  align-items: center;
  gap: $space-1;
}

.comment-item__count {
  font-size: $text-sm;
  color: $color-gray-600;
}
