@import '../../../../public/assets/scss/variables';

.comment-item {
  display: flex;
  gap: $space-4;
  padding: $space-4 0;
  border-bottom: $border-width solid $border-color;

  &:last-child {
    border-bottom: none;
  }
}

.comment-item__content {
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
  gap: $space-2;
}

.comment-item__header {
  display: flex;
  align-items: center;
  gap: $space-2;
}

.comment-item__author {
  font-size: $text-sm;
  font-weight: $weight-medium;
  color: $color-black;
}

.comment-item__date {
  font-size: $text-sm;
  color: $color-gray-500;
}

.comment-item__text {
  font-size: $text-base;
  color: $color-gray-700;
  line-height: $leading-normal;
}
