@import "../../../../public/assets/scss/variables";

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  border-radius: $radius-lg;
  border: $border-width solid transparent;

  font-weight: $weight-medium;
  line-height: 1;
  white-space: nowrap;

  cursor: pointer;
  user-select: none;

  transition: background $duration-base $ease-out,
              border-color $duration-base $ease-out,
              color $duration-base $ease-out,
              opacity $duration-base $ease-out;

  &:focus-visible {
    @include focus-ring;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  /* sizes (sm/md/lg) */
  &--sm {
    padding: $space-2 $space-4;
    font-size: $text-sm;
  }

  &--md {
    padding: $space-3 $space-6;
    font-size: $text-base;
  }

  &--lg {
    padding: $space-4 $space-8;
    font-size: $text-lg;
  }

  /* variants (3 max) */
  &--primary {
    background: $color-primary;
    border-color: $color-primary;
    color: $color-white;

    &:hover:not(:disabled) {
      background: $color-primary-hover;
      border-color: $color-primary-hover;
    }
  }

  &--secondary {
    background: $color-white;
    border-color: $border-color;
    color: $color-black;

    &:hover:not(:disabled) {
      background: $color-gray-50;
      border-color: $color-gray-300;
    }
  }

  &--outline {
    background: transparent;
    border-color: $color-gray-300;
    color: $color-black;

    &:hover:not(:disabled) {
      background: $color-gray-50;
      border-color: $color-black;
    }
  }
}
