@import '../../../../public/assets/scss/variables';

.login-form {
  display: flex;
  flex-direction: column;
  gap: $space-6;
  width: 100%;
  max-width: 400px;
}

.login-form__field {
  display: flex;
  flex-direction: column;
  gap: $space-2;
}

.login-form__actions {
  display: flex;
  flex-direction: column;
  gap: $space-3;
  margin-top: $space-2;
}
