@import "../../../../public/assets/scss/variables";

.post-list {
  column-count: 3;
  column-gap: $space-6;

  @media (max-width: 1024px) {
    column-count: 2;
  }

  @media (max-width: 640px) {
    column-count: 1;
  }
}

.post-card {
  break-inside: avoid;
  margin-bottom: $space-6;
}


.post-list--center,
.post-list--empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: $space-4;
  padding: $space-16 $space-4;
  text-align: center;

  border: $border-width solid $border-color;
  border-radius: $radius-md;
  background: $color-white;
}

.post-list__empty-icon {
  font-size: $text-5xl;
  opacity: 0.5;
  line-height: 1;
}

.post-list__empty-title {
  margin: 0;
  font-size: $text-base;
  font-weight: $weight-medium;
  color: $color-black;
}

.post-list__muted {
  margin: 0;
  font-size: $text-sm;
  color: $color-gray-600;
}