@import "../../../public/assets/scss/variables";

.post-detail {
  padding: $space-8 0 $space-12;
}

.post-detail__container {
  @include container;

  display: flex;
  flex-direction: column;
  gap: $space-8;
}

.post-detail__article {
  border: $border-width solid $border-color;
  border-radius: $radius-lg;
  background: $color-white;
  overflow: hidden;
}

.post-detail__comments {
  border: $border-width solid $border-color;
  border-radius: $radius-lg;
  background: $color-white;
  padding: $space-6;

  @media (max-width: 640px) {
    padding: $space-4;
  }
}
