@import '../../../../public/assets/scss/variables';

.comment-section {
  display: flex;
  flex-direction: column;
  gap: $space-6;
}

.comment-section__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: $space-4;
  border-bottom: $border-width solid $border-color;
}

.comment-section__title {
  font-size: $text-xl;
  font-weight: $weight-semibold;
  color: $color-black;
}

.comment-section__list {
  display: flex;
  flex-direction: column;
}
