@import '../../../../public/assets/scss/variables';

.avatar {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: $radius-full;
  background: $color-gray-200;
  color: $color-gray-700;
  font-size: $text-base;
  font-weight: $weight-medium;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.avatar--small {
  width: 32px;
  height: 32px;
  font-size: $text-sm;
}

.avatar--large {
  width: 56px;
  height: 56px;
  font-size: $text-xl;
}
