@import '../../../../public/assets/scss/variables';

.search-bar {
  position: relative;
  width: 100%;
  max-width: 500px;
}

.search-bar__input {
  width: 100%;
  padding-left: $space-10;
}

.search-bar__icon {
  position: absolute;
  left: $space-4;
  top: 50%;
  transform: translateY(-50%);
  color: $color-gray-400;
  pointer-events: none;
}
