@use "../../../../public/assets/scss/variables" as *;

.label {
  display: inline-block;
  margin-bottom: $space-2;

  font-size: $text-sm;
  font-weight: $weight-medium;
  color: $color-gray-700;
}

.label__required {
  margin-left: 2px;
  color: $color-error;
}
