@import '../../../public/assets/scss/variables';

.posts-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.posts-page__container {
  @include container;
  padding-top: $space-8;
  padding-bottom: $space-12;
  display: flex;
  flex-direction: column;
  gap: $space-8;
}

.posts-page__header {
  display: flex;
  flex-direction: column;
  gap: $space-2;
  margin-bottom: $space-4;
}

.posts-page__title {
  font-size: $text-4xl;
  font-weight: $weight-bold;
  color: $color-black;
}

.posts-page__create {
  margin-bottom: $space-4;
}

.posts-page__list {
  width: 100%;
}

.posts-page__filters {
  display: flex;
  gap: $space-3;
  flex-wrap: wrap;
}
