@import "../../../public/assets/scss/variables";

.posts-page {
  padding: $space-8 0 $space-12;
}

.posts-page__container {
  @include container;

  display: flex;
  flex-direction: column;
  gap: $space-8;
}

.posts-page__header {
  display: flex;
  flex-direction: column;
  gap: $space-2;
}

.posts-page__title {
  margin: 0;
  font-size: $text-4xl;
  font-weight: $weight-bold;
  color: $color-black;
}

.posts-page__subtitle {
  margin: 0;
  color: $color-gray-700;
  line-height: $leading-normal;
}

.posts-page__create {
  width: 100%;
}