@import "../../../../public/assets/scss/variables";

.textarea {
  width: 100%;
  min-height: 120px;
  padding: $space-3 $space-4;

  border: $border-width solid $border-color;
  border-radius: $radius-md;

  background: $color-white;
  color: $color-black;

  font-size: $text-base;
  line-height: $leading-normal;

  resize: vertical;

  transition: border-color $duration-base $ease-out,
              box-shadow $duration-base $ease-out,
              background $duration-base $ease-out,
              opacity $duration-base $ease-out;

  &::placeholder {
    color: $color-gray-400;
  }

  &:focus-visible {
    outline: none;
    border-color: $color-primary;
    @include focus-ring;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    background: $color-gray-50;
  }

  &--error {
    border-color: $color-error;

    &:focus-visible {
      border-color: $color-error;
    }
  }
}
